/* NUMBERS LIST */

.collection.number-list .collection-item {
	padding-left: 50px;
}

.collection.number-list .number {
	width: 30px !important;
	height: 30px !important;
	line-height: 30px !important;
	top: 15px  !important;
	left: 10px !important;
	font-style: normal;
}

/* ONE LINE COLLECTION */

.collection.one-line .avatar {
	min-height: 63px;
}

/* PREVIEW COLLECTION */

.collection.preview {
	margin: 20px 0px 0px 0px;
	min-height: 65px;
}

/* TAGS */

.chip .icon {
	float: left;
	font-size: 16px;
	line-height: 32px;
	padding-right: 5px;
}

.chip.tiny {
	height: 20px;
	padding: 0 10px;
	line-height: 20px;
	font-size: x-small;
}

.chip.tiny .icon {
	line-height: 20px;
}

.chip.clear {
	color: rgba(0,0,0,0.87);
	margin: 0px;
	padding: 0px;
	background-color: transparent;
}

.chip.spaced {
	margin-right: 5px;
}

/* CHALLENGES */

.collection.challenge {
	border: 0px;
	margin: 0px;
}

.card-content.challenge {
	padding: 10px;
}

.message-gray {
	text-align: center;
	margin-top: 150px;
	color: gray;
}


/* MESSAGES */

.message {
	padding: 5px 10px;
	border-radius: 3px;
}

.message.danger {
	color: #e53935;
	background-color: #ffcdd2;
}

.message.notice {
	color: #1565c0;
	background-color: #bbdefb;
}

.message.success {
	color: #1b5e20;
	background-color: #c8e6c9;
}

.message i {
	position: relative;
	bottom: -5px;
	float: left;
}

.message p {
	margin-left: 25px;
	margin-top: 0px;
	margin-bottom: 0px;
}
