<div class="row">
	<div class="col s12">
		<h1>Retos de la app</h1>
		<p>Complete los siguientes retos y gane <b>ยง<%= credit.toFixed(2) %></b>. Los retos semanales deben
			cumplirse antes del s&aacute;bado a las 12 de la noche, pues ya el domingo comienza una nueva
			semana. Cada s&aacute;bado deber&iacute;as revisar si tienes todos los retos cumplidos.
			<b>Recuerda usar la app todos los d&iacute;as</b>.</p>

		<ul class="collection">
			<% goals.forEach(function(goal, i) { %>
				<li class="collection-item">
					<div>
						<% if (goal.completed == 0 && goal.link != '') { %>
							<a class="secondary-content text-green" href="#!" onclick="apretaste.send({command: goals[<%= i %>].link})"><i class="material-icons">send</i></a>
						<% } %>
						<span class="<%= goal.completed==1 ? 'completed' : '' %>"><%= goal.caption %></span>
					</div>
				</li>
			<% }); %>
		</ul>
	</div>
</div>